.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 69px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 8px 16px 8px 16px;
  border: 1px solid rgb(21, 19, 23);
  border-radius: 8px;

  font-size: 16px;
  line-height: 136.19%;

  &:hover {
    border: 1px solid var(--violet-color);
    color: var(--violet-color);
  }

  &:hover .icon {
    outline: dotted var(--violet-color);
  }
}

.text {
  margin-right: 8px;
}

.icon {
  outline: dotted var(--grayLight-color);
  padding: 0 3.29px 0px 3.3px;
}
