:root {
  --black-color: #151317;
  --violet-color: #512689;
  --gray-color: #808185;
  --grayLight-color: #f8f8f8;
  --red-color: #ff6161;
  --white-color: #ffffff;
}

.title {
  color: var(--white-color);
  font-size: 64px;
  line-height: 75px;
}

.description {
  &__grayLight {
    color: var(--grayLight-color);
    font-size: 20px;
    line-height: 23px;
  }

  &__black {
    color: var(--black-color);
    line-height: 23px;
    font-size: 20px;
  }
}

@media (max-width: 950px) {
  .title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 16px;
  }

  .description {
    &__grayLight {
      font-size: 16px;
      line-height: 19px;
    }

    &__black {
      font-size: 16px;
      line-height: 19px;
    }
  }
}
